body {
  height: 2000px;
  width: 2000px;
}

.test {
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: inherit;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}