body {
  height: 100%;
  width: 2000px;
}

* {
  padding: 0;
  margin: 0;
}


.test {
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: inherit;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}